// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  border:1px solid green;
}

#data-location {
  display:none;
}